@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.h-screen-adapt {
  height: calc(100vh - 78px);
}

@media (min-width: 1024px) {
  .h-screen-adapt {
    height: calc(100vh - 104px);
  }
}

.h-screen-adapt-2 {
  height: calc(80vh - 101px);
}

.bg-gray-800-alpha {
  background-color: #2d374815;
}

.illustratedtext-text {
  width: calc(100% - 2rem);
}
.illustratedtext-illustration {
  width: 100%;
  height: "20rem";
}
@media (min-width: 1024px) {
  .illustratedtext-text {
    width: calc(100vh - 104px);
  }
  .illustratedtext-illustration {
    width: calc(40% + 1.5rem);
    height: 100%;
  }
}

.illustrated-heigth {
  height: 650px;
}

.illustrated-heigth-desktop {
  height: auto;
}
@media (min-width: 1024px) {
  .illustrated-heigth-desktop {
    height: 650px;
  }
}

.contact-infos {
  height: auto;
}
.contact-infos-map {
  width: 100%;
  height: 600px;
  max-height: 60vh;
}
.contact-infos-background {
  width: 70%;
  height: 650px;
  left: 0;
}
.contact-card-wrapper {
  width: calc(100% - 2rem);
}
@media (min-width: 1024px) {
  .contact-infos {
    height: 750px;
  }
  .contact-infos-map {
    width: calc(60% + 1.5rem);
    height: 100%;
  }
  .contact-card-wrapper {
    width: calc(40% + 1.5rem);
  }
}


@font-face {
  font-family: "baunaus";
  font-style: normal;
  src: format("embedded-opentype"),
    url("//content/fonts/Baunaus.woff") format("woff");
}

* {
  font-family: "baunaus";
}

#contact-map {
  z-index: 0;
}

.description {
  width: 100%;
}
@media (min-width: 1024px) {
  .description {
    width: 65%;
  }
}

.glide {
  @apply mb-24;

  &__bullets {
    @apply flex absolute w-full justify-center bottom-0;
  }

  &__bullet {
    @apply bg-gray-400 w-4 h-4 rounded-full mx-2;
    &--active {
      @apply bg-blue-400;
    }
  }

  &__arrows {
    @apply absolute w-full flex justify-between;
    top: calc(50% - 3rem);
  }

  &__arrow {
    @apply text-gray-900 w-10 fill-current;
  }

  &__slide {
    @apply flex justify-center;
  }
}
