@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.h-screen-adapt {
  height: calc(100vh - 78px);
}

@media  (min-width: 1024px) {
  .h-screen-adapt {
    height: calc(100vh - 104px);
  }
  /* ... */
}

.h-screen-adapt-2 {
  height: calc(80vh - 101px);
}

.bg-gray-800-alpha {
  background-color: #2d374815;
}

@font-face {
  font-family: "baunaus";
  font-style: normal;
  src: format("embedded-opentype"),
    url("//content/fonts/Baunaus.woff") format("woff");
}

* {
  font-family: "baunaus";
}

#contact-map {
  z-index: 0;
}

.glide {
  @apply mb-24;

  &__bullets {
    @apply flex absolute w-full justify-center bottom-0;
  }

  &__bullet {
    @apply bg-gray-400 w-4 h-4 rounded-full mx-2;
    &--active {
      @apply bg-blue-400;
    }
  }

  &__arrows {
    @apply absolute w-full flex justify-between;
    top: calc(50% - 3rem);
  }

  &__arrow {
    @apply text-gray-900 w-10 fill-current;
  }

  &__slide {
    @apply flex justify-center;
  }
}
