@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen-adapt {
  height: calc(100vh - 101px);
}

.bg-gray-800-alpha {
  background-color: #2d374815;
}

@font-face {
  font-family: "baunaus";
  font-style: normal;
  src: format("embedded-opentype"),
    url("//content/fonts/Baunaus.woff") format("woff");
}

* {
  font-family: "baunaus";
}
